{% extends 'base.html.twig' %}

{% block title %}Редактирование Контактов{% endblock %}

{% block body %}
    <h1>Редактирование Контактов</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('app_texts_index_contacts') }}">Вернуться к списку</a>
{% endblock %}
