{% extends 'base.html.twig' %}

{% block title %}Texts index{% endblock %}

{% block body %}
    <h1>Контакты</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>SubType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for text in texts %}
            <tr>
                <td>{{ text.description }}</td>
                <td>{{ text.getSubTypeName() }}</td>
                <td>
                    <a href="{{ path('app_texts_show_contacts', {'id': text.id}) }}">show</a>
                    <a href="{{ path('app_texts_edit_contacts', {'id': text.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
