{% extends 'base.html.twig' %}

{% block title %}Texts{% endblock %}

{% block body %}
    <h1>Контакты</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ text.description }}</td>
            </tr>
            <tr>
                <th>SubType</th>
                <td>{{ text.getSubTypeName() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_texts_index_contacts') }}">back to list</a>

    <a href="{{ path('app_texts_edit_contacts', {'id': text.id}) }}">edit</a>

{% endblock %}
