{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}

{% block body %}
    <h1>Контакты</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Описание</th>
                <td>{{ text.description }}</td>
            </tr>
            <tr>
                <th>Подтип</th>
                <td>{{ text.getSubTypeName() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_texts_index_contacts') }}">Вернуться к списку</a>

    <a href="{{ path('app_texts_edit_contacts', {'id': text.id}) }}">Редактировать</a>

{% endblock %}
