{% extends 'base.html.twig' %}

{% block title %}Edit Texts{% endblock %}

{% block body %}
    <h1>Edit Texts</h1>

    {{ include('howBuy/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_texts_index_how_buy') }}">back to list</a>

    {{ include('howBuy/_delete_form.html.twig') }}
{% endblock %}
