{% extends 'base.html.twig' %}

{% block title %}Добавить текста{% endblock %}

{% block body %}
    <h1>Добавить текста</h1>

    {{ include('howBuy/_form.html.twig') }}

    <a href="{{ path('app_texts_index_how_buy') }}">Вернуться к списку</a>
{% endblock %}
