{% extends 'base.html.twig' %}

{% block title %}New Texts{% endblock %}

{% block body %}
    <h1>Create new Texts</h1>

    {{ include('howBuy/_form.html.twig') }}

    <a href="{{ path('app_texts_index_how_buy') }}">back to list</a>
{% endblock %}
