{% extends 'base.html.twig' %}

{% block title %}Редактирование Пользователя{% endblock %}

{% block body %}
    <h1>Редактирование Пользователя</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('app_user_index') }}">Вернуться к списку</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
