{% extends 'base.html.twig' %}

{% block title %}Новый Пользователь{% endblock %}

{% block body %}
    <h1>Добавить Пользователя</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Вернуться к списку</a>
{% endblock %}
