{% extends 'base.html.twig' %}

{% block title %}Редактирование Категории{% endblock %}

{% block body %}
    <h1>Редактирование Категории</h1>

    {{ include('categories/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('app_categories_index') }}">Вернуться к списку</a>

    {{ include('categories/_delete_form.html.twig') }}
{% endblock %}
