{% extends 'base.html.twig' %}

{% block title %}Новая Подкатегория{% endblock %}

{% block body %}
    <h1>Добавить Подкатегорию</h1>

    {{ include('sub_categories/_form.html.twig') }}

    <a href="{{ path('app_sub_categories_index') }}">Вернуться к списку</a>
{% endblock %}
