{% extends 'base.html.twig' %}
<html>
<head>
    <meta content="text/html; charset=ISO-8859-15">
    <title>Edit Products</title>
</head>
{% block body %}
    <h1>Edit Products</h1>

    {{ include('products/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_products_index') }}">back to list</a>

    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
</html>