{% extends 'base.html.twig' %}

{% block title %}Редактирование ключевых слов{% endblock %}

{% block body %}
    <h1>Редактирование ключевых слов</h1>

    {{ include('keyword/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a href="{{ path('app_keyword_index') }}">Вернуться к списку</a>

{% endblock %}
